{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Page' |trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Page' |trans}}</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('app_page_index') }}">{{ 'back to list' |trans}}</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
