{% extends 'base.html.twig' %}

{% block title %}{{ 'New Page' |trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Page' |trans}}</h1>

    {{ include('page/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_page_index') }}">{{ 'back to list' |trans}}</a>
{% endblock %}
