{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}


{% block body %}

    <h1>Formation index</h1>

    {% for formation in formations %}
    
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ formation.name }}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Prix : {{ formation.price }} €</strong> <br>
                Capacité : {{ formation.capacity }} <br>
                Date de début : {{ formation.startDateTime ? formation.startDateTime|date('Y-m-d H:i:s') : '' }}<br>
                Date de fin : {{ formation.endDateTime ? formation.endDateTime|date('Y-m-d H:i:s') : '' }}<br>
                <br>Créer le {{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}
            </div>
          </div>
        </div>
      </div>
    {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
    {% endfor %}


    <!--<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>StartDateTime</th>
                <th>EndDateTime</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.name }}</td>
                <td>{{ formation.capacity }}</td>
                <td>{{ formation.price }}</td>
                <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.startDateTime ? formation.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.endDateTime ? formation.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>-->
{% endblock %}
